.InfoBlock {
    width: 700px;
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
}

.col b {
    padding: 2px 0;
    text-align: center;
    width: 24px;
    display: inline-block;
    color: #fff;
    background-color: #0072a2;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score span {
    padding: 2px 6px;
    display: inline-block;
    color: #fff;
    background-color: #0072a2;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: 500;
}

button {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    text-decoration: none;
    color: #fff;
    background-color: #0072a2;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    font-size: 14px;
    outline: 0;
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    background-color: #139eda;
}