.ItemField {
    background: #fff;
    width: 90px;
    height: 90px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.yellow {
    background: #FFE713;
}

.red {
    background: #FF2525;
}