.MessageBlock .msg-bl {
    width: 300px;
    background-color: #0072a2;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 3px 2px #0072a2;
    cursor: default;
}

.MessageBlock .msg-bl h3 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}